@keyframes slide-down{
    0%{
        transform: translate(0px, -50px);
        opacity: 0;
    }
    100%{
        transform: translate(0px, 0px);
        opacity: 1;
    }
}
@keyframes slide-up{
    0%{
        transform: translate(50px, 0px);
        opacity: 0;
    }
    100%{
        transform: translate(0px, 0px);
        opacity: 1;
    }
}