@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Pacifico&family=Poppins:wght@200;300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
nav{
    width: 60%;
    height: 100vh;
    text-align: center;
    position: fixed;
    padding: 4em 1em;
    background: linear-gradient( #bab0ba,  #8f098f);
    z-index: 70;
    right: -60%;
    transition: 0.3s;
}

nav ul{
    list-style: none;    
    padding: 2em;
    text-align: left;
}
nav img{
    margin-bottom: 1em;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    display: block;
    padding: 1em;
}
.burger{
    width: 40px;
    position: fixed;
    right: 1em;
    top: 1em;
    z-index: 60;
}
.close-burger{
    width: 40px;
    position: absolute;
    right: 1em;
    top: 1em;
}

/* --The body-- */

.hero{
    width: 100%;
    height: 100vh;
    padding: 10em 2em;
}
.title{
    color: #b80fb8;
    /* letter-spacing: 0.15px; */
    line-height: 24px;
    font-weight: bold;
    font-size: 20px;
}
.hero-written{
    text-align: center;
    animation: slide-down 1s ease-in-out;
}
.hero-written h1{
    font-size: 35px;
    line-height: 45px;
    margin: 1em 0;
}
.desc{
    letter-spacing: 0.15px;
    line-height: 24px;
}
.button{
    background: #e31537;
    padding: 0.7em 1.3em;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 30px;
    transition: 0.3s;
}
.button:hover{
    background: #990a22;
}
.btn-more{
    color: #b80fb8;
    font-size: 13px;
}
.hero-written a{
    width: 300px;
    text-decoration: none;
    display: inline-block;
    margin: 2em 0 0.5em;
}
.illustration img{
    width: 300px;
    margin: 2em;
    animation: slide-up 0.5s ease-in-out;
}
.recent-project{
    padding: 2em;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.recent{
    text-transform: uppercase;
    line-height: 24px;
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 2em;
}
.rec-pro{
    margin-left: 1.5em;
}
.pro-container a{
    text-decoration: none;
}
.rec-pro-card{
    /* width: 300px; */
    width: 100%;
    margin-bottom: 4em;
    border-radius: 10px;
    box-shadow: 0 0 10px #e0ace0ab;
}
.rec-pro-card img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.pro-desc{
    padding: 2em;
}
.pro-desc a{
    text-decoration: none;
    display: inline-block;
    color: #b50db5;
    font-weight: 800;
    margin-bottom: 0.7em;
}
.about-sec{
    width: 100%;
    padding: 2em;
    text-align: center;
}
.my-name{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 1em;
}
.about{
    padding: 2em;
    border-radius: 10px 80px 20px;
    box-shadow: 0 0 10px #e0ace0ab;
}
.about p{
    letter-spacing: 0.15px;
    line-height: 24px;
}
.about a{
    width: 200px;
    text-decoration: none;
    display: inline-block;
    margin-top: 2em;
}
.my-pic{
    width: 300px;
    height: 400px;
    margin-top: 2em;
    right: -3em;
    background: #e4cde4e1;
    position: relative;
    border-radius: 0 20px 20px 0;
}
.my-pic img{
    width: 250px;
    position: absolute;
    left: -2em;
    border-radius: 20px 0 0;
}
.skills{
    width: 100%;
    padding: 2em;
    text-align: center;
}
.skill-container{
    width: 100%;
    background: #ea7beae1;
    align-items: center;
    justify-content: center;
    padding: 2em;
}
.single-skill{
    background: #ffffff90;
    width: 280px;
    height: 130px;
    padding: 1.5em;
    margin-bottom: 2em;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 20px #0000002c;
}
.single-skill img{
    width: 50px;
}
.services-sect{
    width: 100%;
    padding: 2em;
    text-align: center;
}
.serv-card{
    width: 280px;
    margin: 2em 2em 4em;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px #e0ace0ab;
}
.serv-card img{
    width: 50px;
    height: 50px;
}
.serv-title{
    line-height: 24px;
    font-weight: 700;
    margin: 1.5em;
}
.extend img{
    width: 30px;
}
.extend .icons{
    display: grid;
    grid-template-columns: repeat(2,auto);
}
.footer{
    padding: 2em;
    position: relative;
}
.footer::before{
    content: "";
    width: 200px;
    height: 200px;
    position: absolute;
    top: 1em;
    right: 15em;
    background: #e0ace076;
    border-radius: 50%;
    z-index: -1;
}